body {
    display: flex;
    flex-direction: column;
    background-color: #fff2def5;
    color: #4e352d;
}
.img-clothes {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.img-clothes img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
